h1, h2, h3{
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

button{
    color: white;
    background-color: black;
    margin: 10px;
}